/* .winter {
    width: 30%;
    height:30%;
    border-radius: 50px;
    margin-left: 36%;
    margin-top: 10%;
    margin-bottom:10%;
} */

/* .backg {
    width:100%;
    height:100vh;
    background: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}     */
 
.backg {
        background: url('../../Images/Bgtrial.jpg') no-repeat center center; 
        /* -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover; */
        background-size: cover;
        
      
}
.backg>* { opacity:0.5; }

/* .content {
    z-index: 100;
    margin-top: 50%;
} */
  
.sussie {
    border-radius: 100px;
    height: 150px;
    width:150px;
    margin-top: 10%;
  }

  .student {
      margin-bottom:7%;
      font-size: 30px;
      text-align: center;
  }         
  
  .content {
    margin-bottom: 0%;
    text-align:center;
   } 
