.wrapper {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
  }
  
  .box {
	background-color: #3AD29F;
	color: #fff;
	border-radius: 5px;
	box-shadow: 3px;
	padding: 20px;
	font-size: 17px;
	text-align: center;
  }

