.navbar {
  position: fixed;
  top:0;
  left:0;
  background-color: #8B3AD2;
  width: 100%;
  height: 56px;
  margin-top: 0px;
  z-index:1000;
}

.navbarNavigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.navbarlogo {
  margin-left: 1rem;
}

.navbarlogo a{
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
}

.spacer {
  flex: 1;
}

.navbarNavigationItems ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbarNavigationItems li {
  padding: 1.5rem;
}

.navbarNavigationItems a {
  color: white;
  font:bold;
  text-decoration: none;
}

.navbarNavigationItems a:hover{
  color: #3AD29F;
  }
  .navbarNavigationItems a:active {
    color: #3AD29F;
  }

  @media (max-width: 768px) {
    .navbarNavigationItems {
      display: none;
    }
  }

  @media (min-width: 769px) {
    .toolbarToggleButton {
      display:none;
    }

    .navbarlogo {
      margin-left: 0;
    }

  }