

.button{
  background-color: #8B3AD2;
  color:white;
  border-radius: 7px;
  font-size: 1rem;
  padding: 15px;
  width: 70%;

}

.sidebar-logo {
  position: fixed;
  top:0;
  left:0;
  background-color: #3AD29F;
  width: 100%;
  height: 56px;
  margin-top: 0px;
}
.sidebar-logo {
  color: white;
  font-size: 17px;
}

.underline {
    text-decoration-line: underline;
    color: #33B88B;
}

.side-bar {
  height: 100%;
  background: whitesmoke;
  box-shadow: 2px 0px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.side-bar.open {
  transform: translateX(0);
}

.side-bar li {
  margin: 2rem 0;
    padding-top: 10%;
}

.side-bar ul {
  height: 100%;
  list-style: none;
  flex-direction: column;
  justify-content: center;
}

/* .side-bar li a {
  color: #33B88B;
  text-decoration: none;
  font-size: 1rem;
  margin: 0px;
 
} */

.button:hover {
  color: #3AD29F;
}
.button:active {
  color: #3AD29F;
}

.icon-style {
  margin-right: 20px;
}


@media (min-width: 769px) {
  .side-bar {
    display: none;
  }
}
