.sidebar-logo {
  color: #3ad29f;
}

.underline {
    text-decoration-line: underline;
    color: #3ad29f;
}

.side-bar {
  height: 100%;
  background: whitesmoke;
  box-shadow: 2px 0px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.side-bar.open {
  transform: translateX(0);
}

.side-bar li {
  margin: 3.5rem 0;
  padding-top: 10%;
}

.side-bar ul {
  height: 100%;
  list-style: none;
  flex-direction: column;
  justify-content: center;
}

.side-bar li a {
  color: #3ad29f;
  text-decoration: none;
  font-size: 1rem;
  margin: 20px;
}

.side-bar li a:hover {
  color: #fa923f;
}
.side-bar li a:active {
  color: #fa923f;
}

.icon-style {
  margin-right: 20px;
}

@media (min-width: 769px) {
  .side-bar {
    display: none;
  }
}
