.box {
  position: relative;
  background-color: #b686df;
  width: 100%;
  height: 56px;
  text-align: center;
  z-index: 100;
}

.labels {
  text-align: center;
  color: white;
  align-items: center;
  padding: 1rem;
  font-size: 25px;
}

.look {
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

h2 {
  margin-top: 3%;
  text-align: center;
  font-size: 25px;
  font: bold;
  color: #34194b;
}

.backg {
  background: lightblue url("../../Images/Bgtrial.jpg") no-repeat center center;
  opacity: 0.2;
  background-size: cover;
  padding: 4 4 4 4;
}

/* backg * {
  opacity: 0.5;
} */
